.wrapper{
  display: flex;
  justify-content: center;
  height: clamp(25%, 50%, 50%);
  *{
    margin:0.75em;
  }
}
.club-title{
  font-size: 1.2rem;
  margin: 2em 0em 0em 3em; 
  font-weight: bolder;
}

@media only screen and (max-width: 1024px) {
  .club-title{
    margin: 2em 0em 0em 1.5em; 
  }
  .wrapper{
    display: flex;
    justify-content: center;
    height: clamp(25%, 50%, 50%);
    flex-wrap: wrap;
    *{
      margin:0.5em;
    }
  }
}