@import '../styles/themes.scss';
.nav-container{
  font-size: 2.2vh;
  margin: 1em;

  .line-container{
    display: grid;
    place-items: center;
    .nav-line{
      border-top:0.15em solid $grey;
      width: 100%;
    }
  }
  .left-container{
    position: absolute;
    height:3em;
    display: flex;
    margin: 0.5em 1em;
    color: $purple;

    .site-title{
      margin: 0.5em 1em;
      font-size: 3vh;
      // font-weight: bold;
      font-family: 'Barlow', sans-serif;
    }
  }
}
.link-container{
  display: flex;
  justify-content: flex-end;
}
.navigation{
  margin:1em;
}
.nav-routes {
  text-decoration: none;
  color: $grey;
}
.nav-routes.selected{
  color: $black;
}